# Build outputs
bin/
obj/

# User-specific
.vs/
*.user
*.rsuser

# Rider / VS Code
.idea/
.vscode/

# Logs
*.log

# Dotnet
*.suo
*.cache
*.config

# Docker artifacts
**/Dockerfile.*.tmp

# Publish output
publish/

# Secrets
*.pfx
*.snk

# OS
Thumbs.db
Desktop.ini

k6/tmp/
k6/*.tmp
k6/*.json
k6/*.csv
k6/*.html

