services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.4
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.4
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 20s
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  producer-api:
    build:
      context: .
      dockerfile: Dockerfile.producer
    container_name: supplier-delivery-producer
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Kafka__BootstrapServers=kafka:9092
      - Kafka__Topic=product-dispatches
      - Kafka__ClientId=supplier-delivery-producer
    ports:
      - "8080:8080"

  consumer-worker:
    build:
      context: .
      dockerfile: Dockerfile.consumer
    container_name: supplier-delivery-consumer
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      - Kafka__BootstrapServers=kafka:9092
      - Kafka__Topic=product-dispatches
      - Kafka__GroupId=supplier-delivery-consumer

  kafdrop:
    image: obsidiandynamics/kafdrop
    restart: "no"
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:9092"

  target-endpoint:
    build:
      context: .
      dockerfile: Dockerfile.target-endpoint
    container_name: supplier-delivery-target-endpoint
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "7070:7070"
